<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8" />
  <meta name="author" content="Dan Dyer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css"
        integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
  <style>
    html {position: relative; min-height: 100%;}
    body {margin-bottom: 60px;}
    .footer {position: absolute; bottom: 20px; width: 100%;}
    .card-img-top {filter: brightness(75%);}
    .overlay {position: absolute; width: 100%; top: calc(50% - 40px); font-size: 80px; line-height: 1; text-align: center; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);}
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
          integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
