{{ define "head" }}
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.11/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.11/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.11/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      googleCalendarApiKey: '{{ .Params.api_key }}',
      initialView: 'listMonth',
      height: 'auto',
      events: {googleCalendarId: '{{ .Params.google_calendar_id }}'},
      validRange: function(nowDate) { return {start: nowDate}; },
      themeSystem: 'bootstrap5',
      firstDay: 1,
      headerToolbar: {right: 'dayGridMonth,listMonth today prev,next'},
      listDayFormat: {weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'},
      listDaySideFormat: null,
      views: {
        list: {
          eventContent: function(arg) {
            let title = arg.event._def.title;
            let location = arg.event._def.extendedProps.location;
            let description = arg.event._def.extendedProps.description;
            let url = arg.event._def.url;
            var detail = "";
            if (location) {
              detail += `<br/><small class="text-muted">${location}</small>`;
            }
            if (description) {
              detail += `<br/><small class="text-secondary">${description}</small>`;
            }
            return {html: `<a href="${url}"><b>${title}</b></a>${detail}`};
          }
        },
        dayGrid: {
          eventTimeFormat: {hour: "numeric", minute: "2-digit", omitZeroMinute: true, meridiem: "short"}
        }
      }
    });
    calendar.render();
  });
</script>
<style>
  :root {
    --fc-event-bg-color: var(--bs-secondary);
    --fc-event-border-color: var(--fc-event-bg-color);
  }
  .fc-toolbar button {text-transform: capitalize;}
  .fc-daygrid-event {white-space: normal; flex-wrap: wrap;}
  .fc-daygrid-dot-event {align-items: baseline;}
  .fc-h-event {text-align: center;}
  @media screen and (max-width:767px) {.fc-toolbar.fc-header-toolbar {flex-direction:column;} .fc-toolbar-chunk {display: table-row; text-align:center; padding:5px 0;}}
</style>
{{ end }}
{{ define "main" }}
<div id='calendar'></div>
{{ end }}
