{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ with .Params.memberships }}
  <div class="row mt-4 gx-3">
    {{ range . }}
    <div class="col-xl-3 col-md-6 mb-3">
      <div class="card bg-{{ .bg_colour }} h-100 text-{{ .text_colour }} border-0">
        <div class="card-header">
          <h4 class="card-title text-center heavy mb-0">{{ .title }}</h4>
        </div>
        <img src="{{ .image }}" alt="{{ .title }}" />
        <div class="card-body">
          {{ with .bullets }}
          <ul>
            {{ range . }}<li>{{ .|safeHTML }}</li>{{ end }}
          </ul>
          {{ end }}
        </div>
        <div class="card-footer bg-light text-dark border border-{{ .bg_colour }}">
          <div class="row text-center">
            {{ if .monthly_cost }}
            <div class="col">
              Monthly<br/>
              <h1 class="text-{{ .bg_colour }}">{{ .monthly_cost }}</h1>
              <a href="{{ .monthly_url }}" target="_blank" class="btn btn-{{ .bg_colour }}">Pay Monthly</a>
            </div>
            {{ end }}
            {{ if .yearly_cost }}
            <div class="col">
              Yearly<br/>
              <h1 class="text-{{ .bg_colour }}">{{ .yearly_cost }}</h1>
              <a href="{{ .yearly_url }}" target="_blank" class="btn btn-{{ .bg_colour }}">Pay Yearly</a><br/>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <p class="small">
    Choose your membership plan and click on the appropriate button to be taken to the Direct Debit payment form.
    Complete the Direct Debit mandate and then you will be redirected to another form to provide your personal details for our records.
    You must complete both parts of the sign-up for your membership to be complete.
    If you have any queries or problems, please email
    <a href="mailto:membership@invictatouch.com">membership@invictatouch.com</a> (please allow
    up to 48 hours for a response).
  </p>
{{ end }}

