{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="row">
    <div class="col-xl-5">
      {{ .Content }}
    </div>
    <div class="col-xl-7">
      {{ with .Params.memberships }}
      <div class="row">
        {{ range . }}
        <div class="col-md mb-3">
          <div class="card border-{{ .bg_colour }} h-100 text-{{ .bg_colour }}">
            <img src="{{ .image }}" class="card-img-top" alt="{{ .title }}" />
            <div class="card-body">
              <h4 class="card-title text-center heavy">{{ .title }}</h4>
              {{ with .bullets }}
              <ul>
                {{ range . }}<li>{{ .|safeHTML }}</li>{{ end }}
              </ul>
              {{ end }}
            </div>
            <div class="card-footer">
              <div class="row text-center">
                <div class="col">
                  Monthly<br/>
                  <h1 class="text-{{ .bg_colour }}">{{ .monthly_cost }}</h1>
                  <a href="{{ .monthly_url }}" target="_blank" class="btn btn-{{ .bg_colour }}">Pay Monthly</a>
                </div>
                <div class="col">
                  Yearly<sup>*</sup><br/>
                  <h1 class="text-{{ .bg_colour }}">{{ .yearly_cost }}</h1>
                  <a href="{{ .yearly_url }}" target="_blank" class="btn btn-{{ .bg_colour }}">Pay Yearly</a><br/>
                </div>
              </div>
              <p class="mt-2 text-center small mb-0">* Get 12 months for the price of 11</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
      <div class="row">
        <div class="col">
          <div class="alert alert-warning">
            <h5 class="alert-heading heavy">Pay-to-Play Membership</h5>
            <p>
              Not ready to commit or can't play every week?
              <b>Join as a pay-to-play member for just {{ .Params.paytoplay_yearly }} a year.</b>
              This makes you a member of the club for insurance purposes and you can then attend
              whichever sessions are convenient for you for <b>{{ .Params.paytoplay_session }} per session</b>.
            </p>
            <p class="text-center mb-0"><a href="{{ .Params.paytoplay_url }}" target="_blank" class="btn btn-warning">Join Now</a></p>
          </div>
        </div>
        <div class="col">
          <p>
            Choose your membership plan, click on the appropriate button and this will
            take you to the Direct Debit payment form.
            Complete the Direct Debit mandate and then you will be redirected
            to another form to provide your personal details for our records. You must
            complete both parts of the sign-up for your membership to be complete.
          </p>
          <p>
            If you have any queries or problems, please email
            <a href="mailto:membership@invictatouch.com">membership@invictatouch.com</a> (please allow
            up to 48 hours for a response).
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}

