{{ define "head" }}
  <script src="https://kit.fontawesome.com/924a0097e6.js" crossorigin="anonymous"></script>
{{ end }}
{{ define "main" }}
  <h1>2024 Summer League</h1>
  <p class="lead mt-3">
    The 2024 Canterbury Summer Touch League will run weekly from Wednesday 15th May until Wednesday 10th
    July inclusive, with a free practice and coaching session for all teams on Wednesday 8th May.
  </p>
  <div class="row gx-lg-3">
    {{ range .Params.images }}
    <div class="col-lg-4 mb-3">
      <img src="{{ .file }}" class="img-fluid rounded"/>
    </div>
    {{ end }}
  </div>
  <div class="list-group list-group-horizontal-lg mb-4">
    {{ range .Pages.Reverse }}
    <a class="list-group-item list-group-item-action text-primary" href="{{ .Permalink }}"><b>{{ .Title }}</b></a>
    {{ end }}
  </div>
  <div class="row">
    {{ range .Pages.Reverse.Limit 1 }}
      <div class="col-lg-6 pe-lg-5">
        <h3 class="text-center">Social League 1</h3>
        {{ with .Params.tables.premiership }}
          {{ partial "table.html" . }}
        {{ end }}
      </div>
      <div class="col-lg-6 ps-lg-5">
        <h3 class="text-center">Social League 2</h3>
        {{ with .Params.tables.championship }}
          {{ partial "table.html" . }}
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ .Content }}
{{ end }}
