{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{ .Site.Title }}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "head" }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:locale" content="en_GB" />
  <script src="https://kit.fontawesome.com/924a0097e6.js" crossorigin="anonymous"></script>
{{ end }}
{{ define "main" }}
  <h1 class="border-bottom mb-4">
    {{ .Title }}
    <br class="d-lg-none" />
    <span class="text-muted float-lg-end small">{{ time.Format "Monday 2 January 2006" .Params.matchday }}</span>
  </h1>
  {{ .Content }}
  {{ if .Params.fixtures }}
  {{ with .Params.fixtures.premiership }}
  <h2 class="text-center">Social League 1</h2>
  <table class="table table-sm table-borderless">
    {{ range . }}
    <tr>
      <td class="col-1 small text-secondary">{{ .time }}</td>
      <td class="col-4 text-end">{{ .team1 }}</td>
      <td class="col-1 text-center text-muted small">vs.</td>
      <td class="col-4 text-start">{{ .team2 }}</td>
      <td class="col-1 small text-secondary">Pitch {{ .pitch }}</td>
    </tr>
    {{ end }}
  </table>
  {{ end }}
  {{ with .Params.fixtures.championship }}
  <h2 class="text-center">Social League 2</h2>
  <table class="table table-sm table-borderless">
    {{ range . }}
    <tr>
      <td class="col-1 small text-secondary">{{ .time }}</td>
      <td class="col-4 text-end">{{ .team1 }}</td>
      <td class="col-1 text-center text-muted small">vs.</td>
      <td class="col-4 text-start">{{ .team2 }}</td>
      <td class="col-1 small text-secondary">Pitch {{ .pitch }}</td>
    </tr>
    {{ end }}
  </table>
  {{ end }}
  {{ end }}
  {{ if .Params.results }}
  <div class="row">
    <div class="col-lg-6 pe-lg-5">
      <h3 class="text-center">Social League 1</h3>
      {{ with .Params.results.premiership }}
      {{ partial "results.html" . }}
      {{ end }}
      {{ with .Params.tables.premiership }}
      {{ partial "table.html" . }}
      {{ end }}
    </div>
    <div class="col-lg-6 ps-lg-5">
      <h3 class="text-center">Social League 2</h3>
      {{ with .Params.results.championship }}
      {{ partial "results.html" . }}
      {{ end }}
      {{ with .Params.tables.championship }}
      {{ partial "table.html" . }}
      {{ end }}
    </div>
  </div>
  {{ end }}
  </div>
{{ end }}

