<div class="banner">
  <div class="container" style="height: 100%;">
    <a href="/"><img src="/images/invictatouch_horizontal.svg" alt="Invicta Touch" style="margin: 15px 0; height: 90px;"/></a>
    <a href="https://englandtouch.org.uk"><img src="/images/englandtouch_white.png" alt="England Touch Association" class="float-end" style="margin: 20px 0 20px 30px; height: 80px;"/></a>
    <a href="https://seta.org.uk"><img src="/images/seta_white.png" alt="South East Touch Association" class="float-end" style="margin: 20px 0; height: 80px;"/></a>
  </div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link{{ if $currentPage.IsMenuCurrent .Menu . }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
