<div class="banner">
  <div class="container">
    <a href="/"><img src="/images/logos/invictatouch_horizontal.svg" alt="Invicta Touch" style="margin: 15px 0; height: 90px;"/></a>
    <a href="https://englandtouch.org.uk">
      <img src="/images/logos/englandtouch_white.png" alt="England Touch Association" class="float-end d-none d-lg-inline-block" style="margin: 20px 0 20px 30px; height: 80px;"/>
    </a>
    <a href="https://seta.org.uk">
      <img src="/images/logos/seta_white.png" alt="South East Touch Association" class="float-end d-none d-lg-inline-block" style="margin: 20px 0; height: 80px;"/>
    </a>
  </div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-text h4 my-0 order-lg-last">
      <a href="https://instagram.com/invictatouchclub"><i class="bi-instagram"></i></a>
      <a href="https://www.facebook.com/groups/KentTouchRugby/"><i class="bi-facebook"></i></a>
      <a href="https://twitter.com/invictatouch"><i class="bi-twitter-x"></i></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link{{ if or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
