<!DOCTYPE html>
<html>
  <head>
    <title>Invicta Touch</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <script src="js/flipdown.min.js"></script>
    <link href="css/flipdown.min.css" rel="stylesheet" />
    <style>
      html {
        height: 100%;
        background: rgb(0,34,102);
        background: linear-gradient(to bottom right, rgba(0,34,102,1) 20%, rgba(170,0,68,1) 80%);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div style="position: absolute; top: 50%; left: 50%; -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);">
      <img src="images/logos/invictatouch_white.svg" width="320" alt="Invicta Touch"/>
      <div id="flipdown" class="flipdown" style="margin: 0 auto 0 auto;"></div>
      <script>new FlipDown(1711926000, {theme: "light"}).start();</script>
    </div>
  </body>
</html>
